@page
@model WebApplication1_Upsert_Book_Raxorlet.Pages.Book_List.IndexModel
@{
}

<div class="container rounded border">
    <div class="form-group row p-2 m-2">
        <div class="col-9">
            <h2 class="text-primary">Books List</h2>
        </div>
        <div class="col-3">
            <a asp-page="Create" class="btn btn-primary">Create New Book</a>
        </div>
    </div>
    @if (Model.Books.Count() > 0)
    { 
        <div class="row rounded border p-2 m-2">

            
            <table class="table table-bordered table-striped table-hover table-active">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   

                        @foreach (var item in Model.Books)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Author</td>
                                <td>@item.ISBN</td>
                                <td>
                                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit Books</a>
                                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                   
                </tbody>
            </table>

        </div>
    }
    else
    {
    <p>No data found</p>
    }
</div>

